{% extends "base.html" %} {% block title %} Мой блог {% endblock title %} {%
block content %}
<div class="about-section">
  <h2>Привет! 👋</h2>
  <p>
    Добро пожаловать в мой блог! Это пространство, где я делюсь мыслями,
    историями и моментами своей жизни. Здесь нет пафоса или глянца — только
    честность, личный опыт и немного юмора.
  </p>

  <p>
    Меня зовут Евгений, и этот блог — не просто хобби. Это моя маленькая
    вселенная, в которой я рассказываю о том, что меня волнует, радует или
    вдохновляет. О работе, учёбе, мечтах, планах на жизнь. Иногда это
    размышления о технологиях, иногда просто личные истории или наблюдения.
  </p>

  <p>
    Я создаю этот блог не ради лайков или хайпа, а чтобы общаться, обмениваться
    опытом и, может быть, находить единомышленников. Если тебе близко то, о чём
    я пишу — добро пожаловать! 💬
  </p>

  <p>
    Также я хочу, чтобы этот блог стал чем-то большим: своего рода
    онлайн-дневником, который будет расти и развиваться вместе со мной. Надеюсь,
    он будет вдохновлять не только меня, но и тебя.
  </p>

  <p>Спасибо, что заглянул(а) 😊</p>
</div>
{% endblock content %}
