{% extends "base.html" %} {% block title %} Мой блог {% endblock title %} {%
block content %}
<div class="form-section">
  <h2>Новая статья</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <label for="{{ form.title.id }}">{{ form.title.label.text }}</label>
    {{ form.title(size=40) }}

    <label for="{{ form.content.id }}">{{ form.content.label.text }}</label>
    {{ form.content(rows=5, cols=40) }} {{ form.submit(class_="btn btn-primary")
    }}
  </form>
</div>
{% endblock content %}
